<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ln_zap.zap">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".baseClasses.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- bitcoin and lightning uri scheme -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />

            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeNewUserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendActivity"
            android:label="@string/activity_send"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name=".GeneratedRequestActivity"
            android:label="@string/activity_receive"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".setup.SetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup.ConnectRemoteNodeActivity"
            android:label="@string/activity_connectRemoteNode"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name=".PinEntryActivity"
            android:label="PIN"
            android:screenOrientation="portrait" />
        <activity
            android:name=".channelManagement.ManageChannelsActivity"
            android:label="@string/activity_manage_channels"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".walletManagement.ManageWalletsActivity"
            android:label="@string/activity_manage_wallets"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".AdvancedSettingsActivity"
            android:label="@string/activity_advanced_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".channelManagement.OpenChannelDetailsActivity"
            android:label="@string/activity_channel_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
    </application>

</manifest>