<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zapsolutions.zap">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name="zapsolutions.zap.baseClasses.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="zapsolutions.zap.LandingActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- bitcoin and lightning uri scheme -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />
                <data android:scheme="lndconnect" />

            </intent-filter>
            <intent-filter>
                <!-- Makes Zap startable from NFC Tags containing a bitcoin or lightning uri -->
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />
                <data android:scheme="lndconnect" />
            </intent-filter>
        </activity>
        <activity
            android:name="zapsolutions.zap.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="zapsolutions.zap.ScanActivity"
            android:label="@string/scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name="zapsolutions.zap.GeneratedRequestActivity"
            android:label="@string/activity_receive"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="zapsolutions.zap.setup.SetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name="zapsolutions.zap.pin.PinSetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait" />
        <activity
            android:name="zapsolutions.zap.setup.ConnectRemoteNodeActivity"
            android:label="@string/activity_connectRemoteNode"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name="zapsolutions.zap.pin.PinEntryActivity"
            android:label="PIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="zapsolutions.zap.channelManagement.ManageChannelsActivity"
            android:label="@string/activity_manage_channels"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="zapsolutions.zap.walletManagement.ManageWalletsActivity"
            android:label="@string/activity_manage_wallets"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="zapsolutions.zap.SettingsActivity"
            android:label="@string/navigation_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="zapsolutions.zap.AdvancedSettingsActivity"
            android:label="@string/activity_advanced_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="zapsolutions.zap.SupportActivity"
            android:label="@string/support"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".channelManagement.ScanNodePubKeyActivity"
            android:label="@string/channel_open"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdentityActivity"
            android:label="@string/activity_identity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="zapsolutions.zap.walletManagement.WalletDetailsActivity"
            android:label="@string/activity_wallet_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name="zapsolutions.zap.licenses.LicensesActivity"
            android:label="@string/third_party_licenses"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
    </application>

</manifest>